.box{
    width: 650px;
    height: 550px;
    border: 3px solid rgb(245, 238, 238);
    margin-left: 600px;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 4px;
}
img{
    width: 500px;
    height: 300px;
}
h2{
    color: white;
    width: 650px;
    height: 50px;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
    border: 20px solid rgba(7, 175, 161, 0.377);
    border-top: 15px solid rgba(220, 49, 235, 0.349);
    border-left: 20px;
    border-right:20px;
  background: rgba(56, 6, 194, 0.473);
}
label{
    text-align: center;
    font-size: 30px;
    padding-left: 100px;
    
}
input{
    width: 60px;
    height: 40px;
    border: gray;
    border-radius: 9px ;
    
}
.no{
    background: gray;
    color: white;
    margin-left: 500px;
}
.yes{
    background: brown;
    color: white;
}